# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Tools
.vscode

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.docker/volumes

# binaries
myapp